<footer class="border-t border-gray-500">
    <div class="container mx-auto px-4 py-6">
        <div class="text-center">
            <a class="btn btn-link h-24 px-4" routerLink="/">
                <img src="/assets/images/logo.png" class="h-24" alt="Rick and Morty logo">
            </a>
        </div>
        <div class="w-full text-center">
            <p class="text-sm text-gray-600">© 2023 <a href="https://github.com/Jaiver01" class="text-blue-600 hover:text-blue-700">Jaiver Ariza</a></p>
        </div>
    </div>
</footer>