<div class="card w-72 bg-base-100 shadow-xl">
  <div class="w-full h-full">
    <ngx-skeleton-loader appearance="custom-content" [theme]="{height: '288px', width: '288px'}"></ngx-skeleton-loader>
  </div>
  <div class="card-body p-4 py-0 gap-0">
    <ngx-skeleton-loader appearance="custom-content" [theme]="{height: '28px', width: '256px'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader appearance="custom-content" [theme]="{height: '28px', width: '216px'}"></ngx-skeleton-loader>
  </div>
</div>
