<section>
  <div class="h-screen bg-cover bg-fixed bg-center bg-no-repeat parallax-wallpaper">
  </div>
</section>
<section class="border-t border-gray-500">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 overflow-hidden">
      <app-card-option title="Characters" image="characters.jpg" href="/characters"></app-card-option>
    </div>
    <div class="flex-1 overflow-hidden">
      <app-card-option title="Episodes" image="episodes.jpg" href="/episodes"></app-card-option>
    </div>
    <div class="flex-1 overflow-hidden">
      <app-card-option title="Locations" image="locations.png" href="/locations"></app-card-option>
    </div>
  </div>
</section>
