<div class="mt-14 sm:mt-24 py-8 container mx-auto flex flex-col lg:flex-row">
  <div class="hero py-10">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">{{ location?.name }}</h1>
        <ul class="mt-6">
          <li>Type: {{ location?.type }}</li>
          <li>Dimension: {{ location?.dimension }}</li>
        </ul>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
    </div>
  </div>
</div>
