<div class="mt-14 sm:mt-24 py-8 container mx-auto flex flex-col lg:flex-row">
  <section class="w-full lg:w-1/4 lg:max-w-[260px] px-1.5">
    <app-filters-section></app-filters-section>
  </section>
  <section class="w-full">
    <div class="overflow-x-auto h-96" infinite-scroll [infiniteScrollDisabled]="(isLoading$ | async) ?? false" [scrollWindow]="false" (scrolled)="onScrollDown()">
      <table class="table table-pin-rows" aria-describedby="List of episodes">
        @for (season of seasons$ | async; track $index) {
          <thead>
            <tr>
              <th colspan="3" scope="row" class="text-lg">Season {{ $index + 1 }}</th>
            </tr>
          </thead>
          <tbody>
            @for (episode of season.episodes; track $index) {
              <tr>
                <td>{{ episode.episode }}</td>
                <td>{{ episode.name }}</td>
                <td>{{ episode.airDate }}</td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
  </section>
</div>